html {
    box-sizing: border-box;
}
*, 
*::after, 
*::before{
    box-sizing: inherit;
    margin: 0;
}



body {
    font-family: "Poppins";
    background-color: #080710;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



button , input {
    outline: none;
    border: none;
    font-family: inherit;
}


.log_in {
    width: 400px;
    /* height: 500px; */
    position: relative;
}

.cercle_one {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: linear-gradient(45deg , #0D47A1 , #64B5F6);
    position: absolute;
    left: -90px;
    top: -90px;
    z-index: -1;
}

.cercle_two {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: linear-gradient(45deg , #880E4F , #F06292);
    position: absolute;
    right: -60px;
    bottom: -90px;
    z-index: -1;
}

.log_in form {
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, .13);
    background-color: rgba(255, 255, 255, .13);
    color: #fff;
    padding: 50px 35px 35px 35px;
    border-radius: 10px;
    box-shadow: 3px 3px 40px rgba(0, 0, 0 , 0.5);
    backdrop-filter: blur(10px);
}

form h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

form div {
    margin-bottom: 26px;
}

form div label {
    font-size: 16px;
}

form div input {
    display: block;
    width: 100%;
    font-size: 14px;
    background-color: rgba(255, 255, 255, .07);
    border-radius: 5px;
    height: 50px;
    font-weight: 300;
    padding: 0 10px;
    color: #fff;
    margin-top: 8px;
}

form button {
    background-color: #fff;
    color: #080710;
    text-align: center;
    border-radius: 4px;
    display: block;
    padding: 15px 0;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}